@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --bg-blanco: #ffffff; /* Blanco azulado */

  --bg-color-1: #0a2a6c; /* Azul rey fuerte */
  --bg-color-2: #3b5aa9; /* Azul intermedio */
  --bg-color-3: #021133; /* Azul muy oscuro */
  --bg-color-4: #3b5aa9; /* Igual que color-2 para mantener consistencia */

  --txt-body: #000000;
  --white: #ffffff;
  --gray: #989898;

  --bg-verde-opacity-50: #0a2a6c; /* Mantengo el principal en azul rey */

  --bg-section-light: #fffaec; /* Azul muy claro para secciones claras */
  --bg-section-dark: #2c2c2c; /* Azul casi negro para secciones oscuras */
  --bg-footer: #506b9c; /* Azul grisáceo para footer */

  --bg-gradient: linear-gradient(
    131deg,
    #e4ebf9 -3.63%,
    /* Azul muy claro */ #0a2a6c 70.5%,
    /* Azul rey */ #021133 100.94% /* Azul muy oscuro */
  );

  --font-titulos: "Playfair Display", serif;
  --font-subtitulos: "Great Vibes", cursive;
  --font-texto: "PT Serif", serif;

  --img-photo-home: url(../img/Photo-home.webp);
  --img-F1: url(../img/c1.jpeg);
  --img-F2: url(../img/c2.jpeg);
  --img-F3: url(../img/c3.jpeg);
  --img-F4: url(../img/portada.jpeg);
  --img-F5: url(../img/c2.jpeg);

  --img-overlay-stain-1: url(../img/stain-1.svg);
  --img-overlay-stain-2: url(../img/stain-2.svg);

  --img-overlay-points-1: url(../img/points-2.svg);
  --img-overlay-points-2: url(../img/points-2.svg);
  --img-overlay-leaf-1: url(../assets/img/);
  --img-overlay-leaf-2: url(../img/leaf-2.svg);
  --img-overlay-leaf-3: url(../img/leaf-3.svg);
}
